# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

references/


# Temp & Analysis
*.json
*.log
*.tmp
engine/__pycache__/
.gemini/
